
body{


}

.titulo1{
	padding-left: 20px;
}
.inicio {
		background:	#C0C0C0;
		padding: 30px;
}

#imagem{

	width: 100%;
}

.titulo-centralizado{
	text-align: center;
	}

p{
	text-align: center;
color: black;
}
#missao {
	font-size: 20px ;

}
em strong {
	color: 		#008080;
}
.privilegio{
	background:	#FFFFFF;
	 padding: 20px ;


}
ul {
	display: inline-block;
	width: 15%;
       vertical-align: top;
    margin-right: 15%;
}


.itens{

	font-style: italic;
}

.beneficioimagem{
	width: 50%;
}